* {
	box-sizing: border-box;
}

body {
	margin: auto;
	font-family: Titillium Web, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 1px;
}

/*Wrapper for content that should have space on sides*/
.content-container {
	margin: 20px 5% 0 5%;
}

hr {
	border: none;
	margin: 100px 40%;
}
/* Responsive images */
img {
	opacity: 1;
	transition: all 0.3s ease-in-out;
/*	position: relative;*/
}

.large img {
	max-width: 100%;
    height: auto;
}

.overlay-wrapper {
	width: auto;
	height: auto;
	margin: 0;

	overflow: hidden;
	position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 255, 255, .9);
  color: black;
  font-size: 25px;
  font-family: dosis, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-wrapper .overlay .overlay-small {
	opacity: 0;
	transition: all .3s ease-in-out;
}

.overlay-wrapper:hover .overlay {
	opacity: 1;
}

.overlay-wrapper:hover .overlay-small {
	opacity: 1;
}


#name {
	font-family: dosis, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
	letter-spacing: 3px;
	font-size: 30px;
	text-transform: uppercase;
}


.title {
	font-family: dosis, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	margin: 20px 5% 0 5%;
	font-size: 30px;
	letter-spacing: 1px;
}

.special-breaker {
	border: none;
	margin: 50px 0;
}

h2{
	font-family: dosis, sans-serif;
	font-weight: 500;
	font-size: 16px;	
}

.animation-copy {
	font-family: dosis, sans-serif;
	font-weight: 500;
	font-size: 16px;
	white-space: nowrap;
  	overflow: hidden;
  	width: 30em;
	animation: type 1s steps(60, end);
}

@keyframes type{ 
  from { width: 0; } 
}


nav {
	display: flex;
	justify-content: flex-end;
	margin-top: 50px;
}

.hamburger .line{
	display: none;
	width: 30px;
	height: 3px;
	padding-left: 20px;
	background-color: black;
	margin: 8px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.hamburger:hover{
 	cursor: pointer;
}

.line:hover {
	 background-color: red;
}

#hamburger-12.is-active .line:nth-child(1){
	opacity: 0;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}

#hamburger-12.is-active .line:nth-child(3){
	opacity: 0;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}


.wrap_cover {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-height: 600px;
}

.wrap {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/*max-height: 600px;*/
}

.large {
	width: 66.5%;
	margin-bottom: 10px;
}

.small {
	width: 31%;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.copy {
	width: 66.5%;
}

.bodycopy {
	margin: 20px 5% 0 5%;
}

#small {
	width: 100%;
}

#headshot {
	height: 100%;
	margin-top: 25px;
}

nav a {
	text-decoration: none;
	color: black;
	-webkit-transition: all 0.3s ease 0s;
	padding-left: 30px;
}

h1 a {
	color: black;
	-webkit-transition: all 0.3s ease 0s;
}

a:hover {
	color: red;
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

h1 a, nav a:hover {
	transform: translateY(-3px);
}

.back {
	text-align: center;
	display: flex;
	justify-content: center;
}

.back a {
	color: black;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid black;
	margin-top: 100px;
	margin-bottom: 70px;
	padding: 10px 40px;
	letter-spacing: 2px;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
.back a:hover {
	color: red !important;
	background-color: transparent;
	text-shadow: nthree;
}
.back a:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
.back a:before {
	text-align: center;
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #000;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}

h3 {
	font-size: 50px;
	text-align: center;
	color: red;
}

.poster {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.poster img {
	width: 32%;
}

/* Video */
.video {
  height: 0;
  padding-top: 10px;
  padding-bottom: 50%;
  position: relative;
  overflow: hidden;
  margin: 20px 5% 0 5%;
}

.video.widescreen {
  padding-bottom: 56.34%;
}

/*.video.vimeo {
  padding-top: 0;
}*/

.video embed, .video iframe, .video object, .video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Footer */


footer {
	font-family: Titillium Web, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	height: 300px;
	color: white;
/*	color: black;*/
	background-color: #111111;
	/*background-color: white;*/
	font-size: 12px;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer_intro {
	width: 50%;
	padding-bottom: 20px;
}

.social_links {
	text-align: center;
	text-decoration: none;
	width: 50%;
	padding-top: 20px;
}

.fa-linkedin {
	color: white;
	font-size: 20px;
	transition: all 0.3s ease-in-out;
}

.fa-linkedin:hover {
	color: red;
}


/* Responsive */

/*@media screen and (max-width: 770px) {
	.hamburger .line {
		display: block;
		position: relative;
		padding-right: 10px;
	}
	.large {
		width: 100%;
	}
	.small {
		width: 100%;
		height: auto;
		display: inline-block;
	}
	#small {
		width: 45%;
		height: auto;
	}
	#headshot {
		width: 100%;
	}
}*/

@media screen and (max-width: 650px) {
/*	.wrap {
		display: flex;
		flex-wrap: wrap;
	}*/
	.hamburger .line {
		display: block;
		text-align: right;
		z-index: 100;
		/*padding-right: 10px;*/
	}
	.large {
		width: 100%;
	}
	.small {
		width: 100%;
		height: 100%;
		display: flex;
	}
	#small {
		width: 100%;
		/*height: 100%;*/
		margin-bottom: 10px;
	}
}

/* portfolio layout */
.column-3 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.column-3 img {
	width: 33%;
	height: 100%;
}

.column-2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.column-2 img {
	width: 49.5%;
	height: 100%;
}

.hr_portfolio {
	margin-bottom: 1%;
}

