* {
	box-sizing: border-box;
}

body {
	margin: auto;
	font-family: Titillium Web, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 1px;
}

/*Wrapper for content that should have space on sides*/
.content-container {
	margin: 20px 5% 0 5%;
}

hr {
	border: none;
	margin: 50px 40%;
}
/* Responsive images */
img {
	opacity: 1;
	transition: all 0.3s ease-in-out;
/*	position: relative;*/
}

.hidden_text {
	display: none;
	font-size: 50px;
	z-index: 500;
	/*position: absolute;*/
}

img:hover {
	opacity: 0.4;
}



img:hover .hidden_text {
	display: block;
}

.large img {
	max-width: 100%;
    height: auto;
}

#name {
	font-family: dosis, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
	letter-spacing: 3px;
	font-size: 30px;
}

.title {
	font-family: dosis, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	margin: 20px 5% 0 5%;
	font-size: 30px;
	letter-spacing: 1px;
	padding: 0 15px;
}

h2 {
	font-family: dosis, sans-serif;
	font-weight: 500;
	font-size: 16px;
}

nav {
	display: flex;
	justify-content: flex-end;
	margin-top: 50px;
}

.hamburger .line{
	display: none;
	width: 30px;
	height: 3px;
	padding-left: 20px;
	background-color: black;
	margin: 8px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.hamburger:hover{
 	cursor: pointer;
}

.line:hover {
	 background-color: red;
}

#hamburger-12.is-active .line:nth-child(1){
	opacity: 0;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}

#hamburger-12.is-active .line:nth-child(3){
	opacity: 0;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}


.wrap_cover {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-height: 600px;
}

.wrap {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/*max-height: 600px;*/
}

.large {
	width: 66.5%;
	margin-bottom: 10px;
}

.small {
	width: 31%;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.copy {
	width: 66.5%;
}

.bodycopy {
	margin: 20px 5% 0 5%;
	padding: 0 15px;
}

#small {
	width: 100%;
}

#headshot {
	height: 100%;
	margin-top: 25px;
}

nav a {
	text-decoration: none;
	color: black;
	-webkit-transition: all 0.3s ease 0s;
	padding-left: 30px;
}

h1 a {
	color: black;
	-webkit-transition: all 0.3s ease 0s;
}

a:hover {
	color: red;
	text-decoration: none;
}

h1 a, nav a:hover {
	transform: translateY(-3px);
}




/* Footer */


footer {
	font-family: Titillium Web, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	height: 300px;
	color: white;
/*	color: black;*/
	background-color: #111111;
	/*background-color: white;*/
	font-size: 12px;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer_intro {
	width: 50%;
	padding-bottom: 20px;
}

.social_links {
	text-align: center;
	text-decoration: none;
	width: 50%;
	padding-top: 20px;
}

.fa-linkedin {
	color: white;
	font-size: 20px;
	transition: all 0.3s ease-in-out;
}

.fa-linkedin:hover {
	color: red;
}


/* Responsive */

@media screen and (max-width: 770px) {
	.hamburger .line {
		display: block;
		position: relative;
		padding-right: 10px;
	}
	.large {
		width: 100%;
	}
	.small {
		width: 100%;
		height: auto;
		display: inline-block;
	}
	#small {
		width: 49.7%;
		height: auto;
	}
	#headshot {
		width: 100%;
	}
}

@media screen and (max-width: 590px) {
/*	.wrap {
		display: flex;
		flex-wrap: wrap;
	}*/
	.hamburger .line {
		display: block;
		text-align: right;
		z-index: 100;
		/*padding-right: 10px;*/
	}
	.large {
		width: 100%;
	}
	.small {
		width: 100%;
		height: 100%;
		display: flex;
	}
	#small {
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}
}

/* portfolio layout */
.column-3 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.column-3 img {
	width: 33%;
	height: 100%;
}

.column-2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.column-2 img {
	width: 49.5%;
	height: 100%;
}

.hr_portfolio {
	margin-bottom: 1%;
}

