* {
	box-sizing: border-box;
}

body {
	max-width: 1200px;
}

.top {
	font-family: Titillium Web, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	margin: 20px 5% 0 5%;
	font-size: 12px;
	letter-spacing: 1px;
}

.title {
	font-family: dosis, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	margin: 20px 5% 0 5%;
	font-size: 30px;
	letter-spacing: 1px;
	padding: 0 15px;
}

.copy {
	display: inline-block;
	padding: 0 15px;
	font-family: Titillium Web, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	margin: 20px 5% 0 5%;
	font-size: 12px;
	letter-spacing: 1px;
}

.bodycopy {
	margin: 20px 5% 0 5%;
	padding: 0 15px;
}

h2 {
	font-size: 12px;
	padding: 0 15px;
}

nav {
	display: flex;
	justify-content: flex-end;
	margin-top: 50px;
}

#name {
	font-family: dosis, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
	letter-spacing: 3px;
	font-size: 30px;
}

#headshot {
	max-width: 100%;
	margin-top: 25px;
}

a {
	text-decoration: none;
	color: black;
	-webkit-transition: all 0.3s ease 0s;
	padding: 0 15px;
}

a:hover {
	color: red;
	text-decoration: none;
}

.container-fluid {
	margin-top: 50px;
	margin-bottom: 100px;
	max-height: 100%;
}

.column_grid {
	max-width: 100%;
}


/* Footer */
footer {
	font-family: Titillium Web, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	height: 300px;
	color: white;
	background-color: #111111;
	font-size: 12px;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer_intro {
	width: 50%;
	padding-bottom: 20px;
}

.social_links {
	text-align: center;
	text-decoration: none;
	width: 50%;
	padding-top: 20px;
}

.fa-linkedin {
	color: white;
	font-size: 20px;
}

