* {
	box-sizing: border-box;
}

body {
	font-family: Titillium Web, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 1px;
}

/*Wrapper for content that should have space on sides*/
.content-container {
	margin: 20px 5% 0 5%;
	max-width: 1200px;
}

/* Responsive images */
.large img {
	max-width: 100%;
    height: auto;
}

#name {
	font-family: dosis, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
	letter-spacing: 3px;
	font-size: 30px;
}

.title {
	font-family: dosis, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	margin: 20px 5% 0 5%;
	font-size: 30px;
	letter-spacing: 1px;
	padding: 0 15px;
}

.bodycopy {
	display: inline-block;
	padding: 0 15px;
	font-family: Titillium Web, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	margin: 20px 5% 0 5%;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 0 15px;
}


h2 {
	font-size: 12px;
}

nav {
	display: flex;
	justify-content: flex-end;
	margin-top: 50px;
}

.wrap {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1200px;
	max-height: 600px;
}

.large {
	width: 66.5%;
	margin-bottom: 10px;
}

.small {
	width: 31%;
	margin-bottom: 10px;
	/*height: 600px;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#small {
	width: 100%;
}






#headshot {
	max-width: 100%;
	margin-top: 25px;
}

nav a {
	text-decoration: none;
	color: black;
	-webkit-transition: all 0.3s ease 0s;
	padding-left: 30px;
}

h1 a {
	color: black;
	-webkit-transition: all 0.3s ease 0s;
}

a:hover {
	color: red;
	text-decoration: none;
}





/* Footer */
footer {
	font-family: Titillium Web, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
	height: 300px;
	color: white;
	background-color: #111111;
	font-size: 12px;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer_intro {
	width: 50%;
	padding-bottom: 20px;
}

.social_links {
	text-align: center;
	text-decoration: none;
	width: 50%;
	padding-top: 20px;
}

.fa-linkedin {
	color: white;
	font-size: 20px;
}


@media screen and (max-width: 770px) {
	.column_grid {
		width: 49%;
	}
}

@media screen and (max-width: 440px) {
	.column_grid {
		width: 99%;
	}
}

